<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Promises</title>
    <style>
        body {
            background-color: #f4f4f4;
        }

        section {
            max-width: 800px;
            margin: auto;
            background: white;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        header h1 {
            color: #333;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="arrays.html">Arrays</a></li>
            <li><a href="promises.html">Promises</a></li>
            <li><a href="operators.html">Operators</a></li>
        </ul>
    </nav>
    <section>
        <header>
            <h1>JavaScript</h1>
        </header>
    </section>
    <script src="js/promises.js"></script>
</body>

</html>